body{
    justify-content: center;
}


#colorHeading{
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
    margin: 11%;
    border-radius: 22px;
    background-color: rgb(15, 15, 15);
    color: antiquewhite;
    padding: 31px;
}
.buttons{
    align-items: center;
    /* border: 2px solid red; */
  
    text-align: center;
}
.buttons button{
    margin: 33px;
    padding: 11px;
    border-radius: 15px ;
    background-color: black;
    color: aliceblue;
    font-weight: 800;


}
